
body {
    background-color: rgb(33, 33, 143);
}

h1 {
    font-size:32px;
    font-family:'monospace';
    color:aliceblue;
    text-align: center;
}

.intro {
    text-align: center;
}

h1 {
    font-family:Arial, Helvetica, sans-serif;

}
.p_importante {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
    display:inline-flex;
}

.videoSomnis {
    text-align: center;
}

.midWeb {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: justify;
}

.FinalWeb{
    color: white;
}

.contact {
    color: pink
}
    




